In [1]:
import sys
import os
sys.path.append('/home/work/library')
from spyder import *
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine, text
import numpy as np
import xlrd

In [2]:
TABLE_NAME = "jpx_list"
TARGET_URL = "https://www.jpx.co.jp/markets/statistics-equities/misc/tvdivq0000001vg2-att/data_j.xls"

In [20]:
def format_df(df):
    df["年"] = df["日付"] // 10000
    df["月日"] = df["日付"] % 10000
    df = df.drop(["日付"], axis = 1)
    return df.replace('-', 99)

,コード,銘柄名,市場・商品区分,33業種コード,33業種区分,17業種コード,17業種区分,規模コード,規模区分,年,月日
0,1301,極洋,市場第一部（内国株）,50,水産・農林業,1,食品,7,TOPIX Small 2,2021,1029
1,1305,ダイワ上場投信－トピックス,ETF・ETN,99,99,99,99,99,99,2021,1029
2,1306,ＮＥＸＴ ＦＵＮＤＳ ＴＯＰＩＸ連動型上場投信,ETF・ETN,99,99,99,99,99,99,2021,1029
3,1308,上場インデックスファンドＴＯＰＩＸ,ETF・ETN,99,99,99,99,99,99,2021,1029
4,1309,ＮＥＸＴ ＦＵＮＤＳ ＣｈｉｎａＡＭＣ・中国株式・上証５０連動型上場投信,ETF・ETN,99,99,99,99,99,99,2021,1029
...,...,...,...,...,...,...,...,...,...,...,...
4128,9993,ヤマザワ,市場第一部（内国株）,6100,小売業,14,小売,7,TOPIX Small 2,2021,1029
4129,9994,やまや,市場第一部（内国株）,6100,小売業,14,小売,7,TOPIX Small 2,2021,1029
4130,9995,グローセル,市場第一部（内国株）,6050,卸売業,13,商社・卸売,7,TOPIX Small 2,2021,1029
4131,9996,サトー商会,JASDAQ(スタンダード・内国株）,6050,卸売業,13,商社・卸売,99,99,2021,1029
4132,9997,ベルーナ,市場第一部（内国株）,6100,小売業,14,小売,6,TOPIX Small 1,2021,1029

In [12]:
requests.get(TARGET_URL).content
with open("jpx_list.xls", mode='wb') as fw:
    fw.write(requests.get(TARGET_URL).content)
df = pd.read_excel("jpx_list.xls")
os.remove("jpx_list.xls")
df = format_df(df)

In [5]:
conn = mysql.connector.connect(
        host='mysql_db',
        port='3306',
        user='toru',
        password='toru',
        database='mysql_db'
    )

# コネクションが切れた時に再接続してくれるよう設定
conn.ping(reconnect=True)
print(f"接続判定結果:{conn.is_connected()}")
cursor = conn.cursor()
engine = create_engine('mysql+mysqlconnector://toru:toru@mysql_db:3306/mysql_db')

接続判定結果:True

In [23]:
cursor.execute(f"DROP TABLE IF EXISTS {TABLE_NAME}")
cursor.execute(f"""
CREATE TABLE IF NOT EXISTS {TABLE_NAME} (
id MEDIUMINT NOT NULL AUTO_INCREMENT,
コード INT,
銘柄名 VARCHAR(100),
市場・商品区分 VARCHAR(50), 
33業種コード INT,
33業種区分 VARCHAR(30), 
17業種コード INT,
17業種区分 VARCHAR(30), 
規模コード INT NOT NULL,
規模区分 VARCHAR(30), 
年 INT,
月日 INT,
PRIMARY KEY (id)
)""")

df.to_sql(TABLE_NAME, engine, if_exists='append', index=False)

In [24]:
df

,コード,銘柄名,市場・商品区分,33業種コード,33業種区分,17業種コード,17業種区分,規模コード,規模区分,年,月日
0,1301,極洋,市場第一部（内国株）,50,水産・農林業,1,食品,7,TOPIX Small 2,2021,1029
1,1305,ダイワ上場投信－トピックス,ETF・ETN,99,99,99,99,99,99,2021,1029
2,1306,ＮＥＸＴ ＦＵＮＤＳ ＴＯＰＩＸ連動型上場投信,ETF・ETN,99,99,99,99,99,99,2021,1029
3,1308,上場インデックスファンドＴＯＰＩＸ,ETF・ETN,99,99,99,99,99,99,2021,1029
4,1309,ＮＥＸＴ ＦＵＮＤＳ ＣｈｉｎａＡＭＣ・中国株式・上証５０連動型上場投信,ETF・ETN,99,99,99,99,99,99,2021,1029
...,...,...,...,...,...,...,...,...,...,...,...
4128,9993,ヤマザワ,市場第一部（内国株）,6100,小売業,14,小売,7,TOPIX Small 2,2021,1029
4129,9994,やまや,市場第一部（内国株）,6100,小売業,14,小売,7,TOPIX Small 2,2021,1029
4130,9995,グローセル,市場第一部（内国株）,6050,卸売業,13,商社・卸売,7,TOPIX Small 2,2021,1029
4131,9996,サトー商会,JASDAQ(スタンダード・内国株）,6050,卸売業,13,商社・卸売,99,99,2021,1029
4132,9997,ベルーナ,市場第一部（内国株）,6100,小売業,14,小売,6,TOPIX Small 1,2021,1029