In [1]:
import sys
import os
sys.path.append('/home/work/library')
import spyder
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine, text
import numpy as np
from googletrans import Translator

In [2]:
TARGET_DIR = r"/home/work/data/IRBANK"
TABLE_NAME = "irbank"
TRANS_DIC = {'コード': 'code', '売上高': 'amount_of_sales', '営業利益': 'Operating_income', '経常利益': 'Ordinary_income', '純利益': 'Net_income', 'EPS': 'EPS', 'ROE': 'ROE', 'ROA': 'ROA', 
'営業CF': 'Sales_CF', '投資CF': 'Investment_CF', '財務CF': 'Financial_CF', '設備投資': 'Capital_investment', '現金同等物': 'Cash_equivalent', '営業CFマージン': 'Sales_CF_margin', 
'一株配当': 'Dividend', '剰余金の配当': 'Dividend_of_surplus', '自社株買い': 'stock_buy_back', '配当性向': 'Dividend_payout_ratio', '総還元性向': 'Total_reducing', '純資産配当率': 'Net_asset_dividend_rate',
'総資産': 'Total_assets', '純資産': 'Net_worth', '株主資本': 'Shareholders__equity', '利益剰余金': 'retained_earnings', '短期借入金': 'Short_term_borrowing', '長期借入金': 'Long_term_borrowing', 'BPS': 'BPS', '自己資本比率': 'Capital_ratio'}
SAVE_DIC_PATH = r"/home/work/data/IRBANK/trance.dic.npy"

In [3]:
conn = mysql.connector.connect(
        host='mysql_db',
        port='3306',
        user='toru',
        password='toru',
        database='mysql_db'
    )

# コネクションが切れた時に再接続してくれるよう設定
conn.ping(reconnect=True)
print(f"接続判定結果:{conn.is_connected()}")
cursor = conn.cursor()
engine = create_engine('mysql+mysqlconnector://toru:toru@mysql_db:3306/mysql_db')

接続判定結果:True

In [4]:
def csv2df(input_path):
    df = pd.read_csv(input_path,  header=1)
    df["year"] = df["年度"].apply(lambda x:x[:-3]) 
    df["month"] = df["年度"].apply(lambda x:x[-2:])
    df = df.drop(["年度"], axis = 1)

    for col in df:
        df[col] = pd.to_numeric(df[col], errors="coerce")
        
        # en_col = translator.translate(col, dest='en').text.translate(table)
    
    # return df.rename(columns = TRANS_DIC)
    return df

In [5]:
cursor.execute(f"DROP TABLE IF EXISTS {TABLE_NAME}")
cursor.execute(f"""
CREATE TABLE IF NOT EXISTS {TABLE_NAME} (
id MEDIUMINT NOT NULL AUTO_INCREMENT,
PRIMARY KEY (id)
)""")

In [6]:
def add_column(df, cursor):
    for col in df:
        message = 'ALTER TABLE {} ADD  {} {};'.format(TABLE_NAME, col, 'FLOAT')
        cursor.execute(message)
        
flag = True
df = pd.DataFrame()
for dir in [f"{TARGET_DIR}/{f}" for f in os.listdir(TARGET_DIR) if os.path.isdir(os.path.join(TARGET_DIR, f))]:
    print(dir)
    for file in [f"{dir}/{f}" for f in os.listdir(dir) if os.path.isfile(os.path.join(dir, f))]:
        if os.path.basename(file)[:2] == 'fy':
            if df.empty:
                df = csv2df(file)
            else:
                df = pd.merge(df, csv2df(file), on = ['コード', 'year', 'month'], how='outer')
    if flag:
        add_column(df, cursor)
        flag = False
    df.to_sql(TABLE_NAME, engine, if_exists='append', index=False)
    df = pd.DataFrame()

/home/work/data/IRBANK/0015
/home/work/data/IRBANK/0013
/home/work/data/IRBANK/0014
/home/work/data/IRBANK/0011
/home/work/data/IRBANK/0021
/home/work/data/IRBANK/0020
/home/work/data/IRBANK/0019
/home/work/data/IRBANK/0010
/home/work/data/IRBANK/0017
/home/work/data/IRBANK/0018
/home/work/data/IRBANK/0016
/home/work/data/IRBANK/0012

In [7]:
np.save(SAVE_DIC_PATH, {v: k for k, v in TRANS_DIC.items()})